<%= form_with(model: query, local: true) do |form| %>
  <% if query.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(query.errors.count, "error") %> prohibited this query from being saved:</h2>

      <ul>
      <% query.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :query_title, :size => "100"  %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.collection_select :category_id, Category.all.order(:id), :id, :name, :selected => query.category_id %>
  </div>

  <div class="field">
    <%= form.label :sql %>
    <%= form.text_area :sql, id: :query_sql, class: "materialize-textarea", size: "100x100" %>
  </div>

  <div class="actions">
    <%= form.submit class: "waves-effect waves-light btn"%>
  </div>
<% end %>
